<app-menu></app-menu>
<section class="main">
	<div class="bg-light min-vh-100 p-3 p-md-4 p-xl-5 d-flex align-items-center">
		<div class="container">
			<div class="card">
				<div class="card-body">
					<h1 class="mt-0 mb-3">Crear noticia</h1>

					<form [formGroup]="form_notices" (ngSubmit)="saveNotice(form_notices.value)" method="POST">
						<div class="row">
							<div class="col-12 col-sm-6 mb-3">
								<div class="form-group my-0">
									<input type="text" placeholder="Título" formControlName="title" id="title" class="form-control">
								</div>
							</div>
							<div class="col-12 col-sm-6 mb-3">
								<div class="form-group my-0">
									<input type="text" placeholder="Autor" formControlName="autor" id="autor"  class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<textarea rows="10" placeholder="Descripción" formControlName="content" id="content"  class="form-control"></textarea>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msg_system">
							{{msg_system}}
						</div>						
						<button type="submit" class="btn btn-primary ml-auto d-table">Publicar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>