<header>
	<nav class="navbar navbar-expand-lg shadow-sm py-3 px-0">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#desplegar" aria-controls="desplegar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="desplegar">
				<ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#" class="nav-link text-reset px-lg-4" [routerLink]="['/dashboard/principal']">Dashboard</a></li>
					<li class="nav-item"><a href="#" class="nav-link text-reset px-lg-4" [routerLink]="['/noticias/gestion']">Crear publicación</a></li>
					<li class="nav-item"><a href="#" class="nav-link text-reset px-lg-4" [routerLink]="['/noticias/listado']">Listado de publicaciones</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>