<app-menu></app-menu>
<section class="main">
	<div class="bg-light min-vh-100 py-3 py-md-4 py-xl-5 d-flex align-items-center">
		<div class="container">
			<div class="card">
				<div class="card-body">
					<h1 class="mt-0 mb-3">Listado de noticias</h1>

					<div class="table-responsive">
						<table width="100%" class="table table-bordered">
							<thead class="text-center">
								<tr>
									<th>Título</th>
									<th>Autor</th>
									<th>Descripción</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let information_post of list_all_notices">
									<td>{{information_post.title}}</td>
									<td>{{information_post.autor}}</td>
									<td>{{information_post.content}}</td>
									<td>
										<button (click)="edit(information_post.notice_id)">Editar</button>
										<button (click)="eliminar(information_post.notice_id)">Eliminar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<ngx-spinner type="ball-grid-beat"></ngx-spinner>