@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	outline: 0 !important;
}

*, 
*:before, 
*:after {
    box-sizing: border-box !important;
}

a, 
button, 
.btn, 
* a, 
* button, 
* .btn {
	-webkit-transition: all ease-in-out .3s;
	-o-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	text-decoration: none !important;
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

input, 
button, 
textarea, 
select, 
* input, 
* select, 
* textarea, 
* button {
	outline: none !important;
	resize: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

body {
	
}

.bg-img {
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}



/* Tamaño fuente */

.fz-12 {
	font-size: 12px !important;
}

.fz-14 {
	font-size: 14px !important;
}

.fz-16 {
	font-size: 16px !important;
}

.fz-18 {
	font-size: 18px !important;
}

.fz-20 {
	font-size: 20px !important;
}

.fz-22 {
	font-size: 22px !important;
}

.fz-24 {
	font-size: 24px !important;
}

.fz-26 {
	font-size: 26px !important;
}

.fz-28 {
	font-size: 28px !important;
}

.fz-30 {
	font-size: 30px !important;
}

.fz-32 {
	font-size: 32px !important;
}

.fz-34 {
	font-size: 34px !important;
}

.fz-36 {
	font-size: 36px !important;
}

.fz-40 {
	font-size: 40px !important;
}

.fz-42 {
	font-size: 42px !important;
}

.fz-44 {
	font-size: 44px !important;
}

.fz-46 {
	font-size: 46px !important;
}



/* Negrilla */

.fw-400 {
	font-weight: 400 !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.fw-900 {
	font-weight: 900 !important;
}



/* Landscape */

@media (min-width: 576px) {
	.fz-sm-12 {
		font-size: 12px !important;
	}

	.fz-sm-14 {
		font-size: 14px !important;
	}

	.fz-sm-16 {
		font-size: 16px !important;
	}

	.fz-sm-18 {
		font-size: 18px !important;
	}

	.fz-sm-20 {
		font-size: 20px !important;
	}

	.fz-sm-22 {
		font-size: 22px !important;
	}

	.fz-sm-24 {
		font-size: 24px !important;
	}

	.fz-sm-26 {
		font-size: 26px !important;
	}

	.fz-sm-28 {
		font-size: 28px !important;
	}

	.fz-sm-30 {
		font-size: 30px !important;
	}

	.fz-sm-32 {
		font-size: 32px !important;
	}

	.fz-sm-34 {
		font-size: 34px !important;
	}

	.fz-sm-36 {
		font-size: 36px !important;
	}

	.fz-sm-40 {
		font-size: 40px !important;
	}

	.fz-sm-42 {
		font-size: 42px !important;
	}

	.fz-sm-44 {
		font-size: 44px !important;
	}

	.fz-sm-46 {
		font-size: 46px !important;
	}

	.fz-sm-90 {
		font-size: 90px !important;
	}
	
	.pl-container {
		padding-left: calc((100vw - 540px) / 2);
	}
	
	.pr-container {
		padding-right: calc((100vw - 540px) / 2);
	}
}



/* Tablet */

@media (min-width: 768px) {
	.fz-md-12 {
		font-size: 12px !important;
	}

	.fz-md-14 {
		font-size: 14px !important;
	}

	.fz-md-16 {
		font-size: 16px !important;
	}

	.fz-md-18 {
		font-size: 18px !important;
	}

	.fz-md-20 {
		font-size: 20px !important;
	}

	.fz-md-22 {
		font-size: 22px !important;
	}

	.fz-md-24 {
		font-size: 24px !important;
	}

	.fz-md-26 {
		font-size: 26px !important;
	}

	.fz-md-28 {
		font-size: 28px !important;
	}

	.fz-md-30 {
		font-size: 30px !important;
	}

	.fz-md-32 {
		font-size: 32px !important;
	}

	.fz-md-34 {
		font-size: 34px !important;
	}

	.fz-md-36 {
		font-size: 36px !important;
	}

	.fz-md-40 {
		font-size: 40px !important;
	}

	.fz-md-42 {
		font-size: 42px !important;
	}

	.fz-md-44 {
		font-size: 44px !important;
	}

	.fz-md-46 {
		font-size: 46px !important;
	}

	.fz-md-60 {
		font-size: 60px !important;
	}

	.fz-md-90 {
		font-size: 90px !important;
	}
	
	.pl-container {
		padding-left: calc((100vw - 720px) / 2);
	}
	
	.pr-container {
		padding-right: calc((100vw - 720px) / 2);
	}
}



/* Desktop SM */

@media (min-width: 992px) {
	.fz-lg-12 {
		font-size: 12px !important;
	}

	.fz-lg-14 {
		font-size: 14px !important;
	}

	.fz-lg-16 {
		font-size: 16px !important;
	}

	.fz-lg-18 {
		font-size: 18px !important;
	}

	.fz-lg-20 {
		font-size: 20px !important;
	}

	.fz-lg-22 {
		font-size: 22px !important;
	}

	.fz-lg-24 {
		font-size: 24px !important;
	}

	.fz-lg-26 {
		font-size: 26px !important;
	}

	.fz-lg-28 {
		font-size: 28px !important;
	}

	.fz-lg-30 {
		font-size: 30px !important;
	}

	.fz-lg-32 {
		font-size: 32px !important;
	}

	.fz-lg-34 {
		font-size: 34px !important;
	}

	.fz-lg-36 {
		font-size: 36px !important;
	}

	.fz-lg-40 {
		font-size: 40px !important;
	}

	.fz-lg-42 {
		font-size: 42px !important;
	}

	.fz-lg-44 {
		font-size: 44px !important;
	}

	.fz-lg-46 {
		font-size: 46px !important;
	}

	.fz-lg-90 {
		font-size: 90px !important;
	}
	
	.pl-container {
		padding-left: calc((100vw - 960px) / 2);
	}
	
	.pr-container {
		padding-right: calc((100vw - 960px) / 2);
	}
}



/* Desktop */

@media (min-width: 1200px) {
	.fz-xl-12 {
		font-size: 12px !important;
	}

	.fz-xl-14 {
		font-size: 14px !important;
	}

	.fz-xl-16 {
		font-size: 16px !important;
	}

	.fz-xl-18 {
		font-size: 18px !important;
	}

	.fz-xl-20 {
		font-size: 20px !important;
	}

	.fz-xl-22 {
		font-size: 22px !important;
	}

	.fz-xl-24 {
		font-size: 24px !important;
	}

	.fz-xl-26 {
		font-size: 26px !important;
	}

	.fz-xl-28 {
		font-size: 28px !important;
	}

	.fz-xl-30 {
		font-size: 30px !important;
	}

	.fz-xl-32 {
		font-size: 32px !important;
	}

	.fz-xl-34 {
		font-size: 34px !important;
	}

	.fz-xl-36 {
		font-size: 36px !important;
	}

	.fz-xl-40 {
		font-size: 40px !important;
	}

	.fz-xl-42 {
		font-size: 42px !important;
	}

	.fz-xl-44 {
		font-size: 44px !important;
	}

	.fz-xl-46 {
		font-size: 46px !important;
	}

	.fz-xl-90 {
		font-size: 90px !important;
	}
	
	.pl-container {
		padding-left: calc((100vw - 1140px) / 2);
	}
	
	.pr-container {
		padding-right: calc((100vw - 1140px) / 2);
	}
}